@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Stella Nova Black";
  src: url("/fonts/StellaNova-Black.otf");
}
@font-face {
  font-family: "Stella Nova bold";
  src: url("/fonts/StellaNova-Bold.otf");
}
@font-face {
  font-family: "Stella Nova Medium";
  src: url("/fonts/StellaNova-Regular.otf");
}
